
a{
	text-decoration:none;
}
/*    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }*/
/*置顶导航条*/
.left-logo{
	width: 120px;
	height: 60px;
}
#main {
    transition: margin-left .5s;
    padding-right: 6px;
    padding-top: 15px;
}
.navbar-inverse {
    background-color:rgba(0,0,0,0.7);
    border-color: #080808;
    /*opacity: 0.5;*/
    width: 100%;
    height: 40px;
}
/*侧边导航条*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1031;
    right: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}
.sidenav a {
    padding: 5%;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 16px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.left-logo{
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#mySidenav>hr{
    height: 1px;
    background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
    background-image: -moz-linear-gradient(left, #fff, #ccc, #fff);
    background-image: -ms-linear-gradient(left, #fff, #ccc, #fff);
    background-image: -o-linear-gradient(left, #fff, #ccc, #fff);
    width: 100%;
    left: 25%;
    /*position: relative;*/
    border: none;
}
/*轮播图开始*/
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container1 {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      color: #f00;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .bg-image1{
    background-image: url(../images/bg-image/11.jpg) ;
    background-size: 100% 100%;
    }
    .bg-image2{
        background-image: url(../images/bg-image/12.jpg) ;
        background-size: 100% 100%;
    }
    .bg-image3{
        background-image: url(../images/bg-image/13.jpg) ;
        background-size: 100% 100%;
    }
    .bg-image4{
        background-image: url(../images/bg-image/14.png) ;
        background-size: 100% 100%;
    }
    .bg-image5{
        background-image: url(../images/bg-image/15.jpg) ;
        background-size: 100% 100%;
    }
    .bg-image1 p,.bg-image2 p,.bg-image3 p,.bg-image4 p,.bg-image5 p{
      font-family: '华文行楷';
      font-size: 50px;
      color: #fff;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    }
/*轮播图结束*/
  /*公司简介开始*/
  .container-fuild{
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .company>.company-left{
    line-height: 30px;
  }
  .company-right>img{
    text-align: center;
  }
  /*公司简介结束*/
  /*任务开始*/
.serve-all{
  background-color: #fff;
}
 .headline>h2{
  text-align: center;
  color:#545444;
  font-weight:bold;
 }
/*.headline>hr{
  height: 1px;
  background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
  background-image: -moz-linear-gradient(left, #fff, #000, #fff);
  background-image: -ms-linear-gradient(left, #fff, #000, #fff);
  background-image: -o-linear-gradient(left, #fff, #000, #fff);
  width: 20%;
  left: 25%;
  border: none;
  text-align: center;
  }*/
  .serve-nav{
    padding-top: 5%;
  }
.wsp-web,.phone-web,.mini-web,.app-web,.weixin-web{
  border: 1px solid #ccc  ;
  height: 70px;
  width: 200px;
  border-radius: 20px;
  line-height: 70px;
  margin:12px 0;
  padding:0 10px;
  font-size: 20px;
  text-align: center;
}
.wsp-web>a{
  text-decoration:none;
} 
.phone-web>a{
  text-decoration: none;
}
.mini-web>a{
  text-decoration: none;
}
.app-web>a{
  text-decoration: none;
}
.weixin-web>a{
  text-decoration: none;
}
.wsp-text>p,.phone-text>p,.app-text>p,.mini-text>p,.weixin-text>p{
  text-align: center;
    line-height: 30px;
     padding-top:5%;
}
/*.phone-text>p>img{
  padding-bottom: 5%;
}*/
/*.mini-text>p{
  text-align: center;
  padding-top:5%;
}*/
/*任务结束*/

@media(max-width:900px){
  /*.wsp-text>p{
    font-size: 10px;
  }*/
 /* .swiper-container1{
    height: 100px;
  }*/
}
/*联系我们开始 */
.contact-all{
  background-image: url(../images/bg-image/bj1.jpg);
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.contact2-left{
/*  padding-top:5%;*/
  padding-left: 5%;
}
.contact2-left>p{
  line-height: 35px;
}
.contact2-left>p>.icon{
  color:#00df99; 
}
.contact2-right{
  padding-right: 100px;
}
.section-right{
  width: 70%;
  float: right;
}
.section-right label{
  color: #000;
  font-size: 18px;
}
.section-right input{
  margin: 0px auto 10px;
}
.section-right textarea{
  height: 120px;
}
.section-right .btn{
  width: 30%;
  font-size: 16px;
  background-color:#00dfb1; 
  border:0px;
  color: #fff;
}
.section-table{
  margin: 10px auto;
}
.section-table a{
  color: #000;
}
.footer-all{
  background-color: #000;
  color: #fff;
  text-align: center;
}
/*旁边链接*/
.top{
  color: #fff;
  position: fixed;
  display:block;
  background-color:#000;
  right: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  top: 500px;
  z-index: 999;
  opacity: 0.5;
  transition-duration: 0.5s;
  -moz-transition-property: width; 
  -moz-transition-duration: 0.5s; 
  -webkit-transition-property: width; 
  -webkit-transition-duration: 0.5s; 
  -o-transition-property: width; 
  -o-transition-duration: 0.5s; 
}
.top:hover
{
width:100px;
text-align:left;
}
